<div cdkDropListGroup>
  <div
    class="main"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    (cdkDropListEntered)="entered($event)"
    (cdkDropListExited)="exited($event)" 

  > 
  <app-badge
      cdkDrag
      [eventBadge] = "eventBadge"
      [cdkDragData]="todo"
      (cdkDragDropped)="getDrop($event)"
      (badge)="badgeDrop($event)"
      (newItemsData)="getData($event)"
  ></app-badge>

    <!-- <div class="drag" (cdkDragDropped)="badgeDrop($event)"  cdkDrag [cdkDragData]="todo"></div> -->

  </div >
      <div
        class="main"
        cdkDropList 
        (cdkDropListEntered)="entered($event)"
        *ngFor="let i of [1,2,3]"
      >  
      </div >
</div>










