<div
  class="main"
  #first="cdkDropList" 
  cdkDropList 
  [cdkDropListConnectedTo]="[second]"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="entered($event)"
  (cdkDropListExited)="exited($event)" 

> 
<app-badge
    
  
    (cdkDragDropped)="badgeDrop($event)"
  ></app-badge>

  <!-- <div class="drag" (cdkDragDropped)="badgeDrop($event)"  cdkDrag [cdkDragData]="todo"></div> -->

</div >

<div
  class="main"
  #second="cdkDropList" 
  cdkDropList 
  [cdkDropListConnectedTo]="[first]"
>  
</div >








