<div
  class="main"
  #first="cdkDropList" 
  cdkDropList 
  [cdkDropListConnectedTo]="[second]"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="entered($event)"
  (cdkDropListExited)="exited($event)"
(cdkDragDropped)="badgeDrop($event)"
> 
<app-badge

    (cdkDragDropped)="badgeDrop($event)"
  ></app-badge>

  <!-- <div class="drag"  cdkDrag [cdkDragData]="todo"></div> -->

</div >

<div
  class="main"
  #second="cdkDropList" 
  cdkDropList 
  [cdkDropListConnectedTo]="[first]"
>  
</div >








