  <div
    class="main"
    cdkDropList
    #main="cdkDropList"
    [cdkDropListConnectedTo]="[inside]"   
    (cdkDropListDropped)="drop($event)"
    (cdkDropListEntered)="entered($event)"
    (cdkDropListExited)="exited($event)" 

  > 
  <app-badge
      cdkDrag
      *ngFor="let i of [1,2,3]"
      [cdkDragData]="eventBadge"
      (cdkDragDropped)="getDrop($event)"
   
      [eventBadge] = "eventBadge"
      (newItemsData)="getData($event)"
  ></app-badge>
  <div style="clear:both"></div>
  
      
    
    
  </div >
  <div style="clear:both"></div>

  <div
       #inside="cdkDropList"
        [cdkDropListConnectedTo]="[main]"
        class="inside"
        cdkDropList 
        (cdkDropListEntered)="enteredInside($event)"
   
        (cdkDropListDropped)="fuck()"
      >  
    </div > 
    